* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: rgb(184, 165, 119);
}

.landing {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("Bureau.png") no-repeat;
    background-size: cover;
    animation: landingAnim 4s forwards;
}

@keyframes landingAnim {

    0%,
    50% {
        clip-path: polygon(50% 0%, 89% 6%, 95% 36%, 98% 70%, 92% 95%, 50% 100%, 7% 96%, 0 66%, 6% 34%, 15% 6%);
    }

    100% {
        clip-path: polygon(50% 0%, 93% 6%, 98% 35%, 98% 70%, 95% 97%, 50% 100%, 7% 96%, 1% 66%, 1% 29%, 9% 3%);
    }
}

.bg {
    width: 100%;
    height: 100%;
    background-color: rgb(184, 165, 119);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    transform-origin: top;
    animation: bgAnim 2s forwards;
}

@keyframes bgAnim {

    0%,
    50% {
        transform: scaleY(1);
    }

    100% {
        transform: scaleY(0);
    }
}