// Couleurs

$white: #ffffff;
$tonic: #f68a24;

$gray: (
  100: #a3a3a3,
  200: #666666,
  300: #414141,
  400: #3a3a3a,
  600: #333333,
  800: #161616,
);

// Typography

$font: (
  body: unquote("'Roboto', arial, sans-serif"),
  heading: unquote("'Work sans', arial, sans-serif"),
);

// Espaces

$wrapper: 20px;

// Paramètres de grille

$container: 1280px;
$grid-columns: 12;
$grid-gap: 30px;

// breakpoints (Points de rupture)

$breakpoints: (
  md: 768px,
  lg: 1280px,
);
